@font-face {
    font-family: 'Nothing You Could Do';
    src: url('../fonts/NothingYouCouldDo.woff2') format('woff2'),
        url('../fonts/NothingYouCouldDo.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}